@CHARSET "windows-31j";
body{
  background-color: #fafad2;
}
.red  {font-weight:bold; color:red;}
.blue {font-weight:bold; color:blue;}
.data0{ background-color: #f3f3e9;}
.data1{ background-color: #aaccff;}
h2 {
  background-color: #22ccff;
  text-align: center;
  font-size: big;
}




